extends template


block content
  div.main

    h1(class="text-success text-center success") #{title}

    a(href="https://www.paypal.me/treefortforums" class="btn btn-success" target="_blank")
      button(id="dnate") Donate Through Paypal