extends template


block content
  div.main
    h1(class="donations_title")= title

    ul
      each donation in donation_list
        
        li(class="donations bg-success")
          a(href=donation.url class="text-light") #{donation.username} to #{donation.recipient} 9/29
          
            
      else
        li Donators appear here
