extends template

block content


  div.main
    div(class="border border-info donate-info") Support Treefort Content Creators and Treefort! With your donation, 75% of the donation will go to the Content Creator and 25% of the Donation will go to Treefort. Treefort handles all Paypal processing and currency exchange rate fees. Our platform maintains privacy to Creators as well as you. To continue, click the Donate Through Paypal Button and send the donation in full. After you have completed that, fill out the form below detailing information about the donation and click Submit. Upon Success, you will be redirected to a Success page and your information will be stored.

    a(href ="https://www.paypal.me/treefortforums" target="_blank")
        button(id="dnate" class="btn btn-success text-center text-light") Donate Through PayPal
 
    


    form(class="info" method="POST" action="")
      div(class="form-group row")
        label(for="username" class="col-md-3 col-form-label") Your Treefort Username
        div(class="col-md-9")
          input(type="text" name="username" class="form-control" id="donorName" placeholder="Your Username" required)
      div(class="form-group row")
        label(for="recipient" class="col-md-3 col-form-label") Recipient's Treefort Username
        div(class="col-md-9")
          input(type="text" name="recipient" class="form-control" id="recipName" placeholder="Recipient's Username" required)
      div(class="form-group row")
        label(for="title" class="col-md-3 col-form-label") Creator's Post Title
        div(class="col-md-9")
          input(type="text" name="title" class="form-control" id="post" placeholder="Post Title Name or #" required)
      div(class="form-group row")
        label(for="category" class="col-md-3 col-form-label") Thread Title
        div(class="col-md-9")
          select(name="category" class="form-control" id="thread")
            option(value="art") Art
            option(value="cooking") Cooking
            option(value="essays") Essays and Short Stories
            option(value="how_to") How To
            option(value="music" selected) Music
            option(value="performing_arts") Performing Arts
            option(value="photography") Photography
            option(value="poetry") Poetry
      div(class="form-group row")
        label(for="amount" class="col-md-3 col-form-label") Donation Amount
        div(class="col-md-3")
          select(name="currency" class="form-control" id="currency")
            option(value="USD") USD
            option(value="EUR") EUR
            option(value="JPY") JPY
            option(value="GPB") GBP
            option(value="CHF") CHF
            option(value="CAD") CAD
            option(value="AUD") AUD
            option(vlaue="ZAR") ZAR
        div(class="col-md-6")
          input(type="number" name="amount" class="form-control" id="amount" placeholder="Donation Amount" min="5" max="10000" required)

      div(class="btn-group d-flex flex-col")
        input(class="btn btn-success btn-lg col-md-3 offset-md-6 text-justify" type="submit" value="Submit" id = "submit")

