doctype 
html
  head
    style
      include ../public/stylesheets/styles.css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    link(rel="stylesheet")
    //- Css only
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    //- Js, Popper.js Jquery
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
    meta(name="viewport" content="width-device-width, initial-scale=1, viewport-fit=cover")
    //var siteName = "Treefort Creators"
    title= "TreefortCreators"
  main
  body
    div.container
      header.jumbotron
        
        a(href="#" id="logo"):  img(src="images/image_50.png" alt="Treefort")
        h1(style="text-align:left; margin-left:15%; font-size:4em; color:white;") Treefort Creators
        div(style="clear:both")

        nav.mainmenu
          a(href="https://www.treefortforums.net/") TREEFORT
          a(href="https://www.treefortforums.net/blogs") BLOGS
          a(href="https://www.treefortforums.net/forum") PAGES
          a(href="https://www.treefortforums.net/support-us") SUPPORT TREEFORT


    div(class="main")
      h2(class="greeting") Welcome to Treefort Creators!
      p(class="greeting") Click the Donate button to make a donation, or the Creators button to register as a Treefort Creator.
      div(class="d-md-flex flex-column-center justify-content-center dc-margins")
        a(class="btn btn-success btn-lg ml-5 mr-5 w-50 p-3", href="./content/donation/create") Donate
        a(class="btn btn-warning btn-lg ml-5 mr-5 w-50 p-3", href="./content/creator/create") Creator
      hr
      h2(class="greeting") Check out the Family Tree!
      if error
        p Error getting Totals
      else
        p #[strong Total Donations: ] $!{data}
      div(class="btn-group d-flex flex-col")
        a(class="btn btn-outline-success text-dark" href="./content/donations") Donators
        a(class= "btn btn-outline-warning text-dark" href="./content/creators") Creators
      
      footer(class="gfoot mt-5")
        a(class="btn btn-warning btn-sm" href="/") Treefort Creators Home
        a(href="https://www.treefortforums.net/help") HELP
        a(href="https://www.treefortforums.net/contact-us") CONTACT US
        a(href="https://www.treefortforums.net/TermsOfUse") TERMS OF USE
        a(href="https://www.treefortforums.net/privacy") PRIVACY
        a(class="text-nowrap" href="#top" style="border-right:none;") GO TO TOP

